$white: #ffffff;
$lightWhite: #f0f0f0;
$dirtyWhite: #cacaca;
$mediumdirtyWhite: #9e9e9e;
$turquoise: #00C4B4;
$primaryBlue: skyblue;
$danger: #dc3545;
$success: #28a745;
$warning: #ffc107;
$darkBlue: #263238;

//breakPoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;